@font-face {
  font-family: 'IBM Plex Mono', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', Courier, monospace;
  font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
  font-family: 'IBM Plex Sans Condensed', 'Helvetica Neue', Arial, sans-serif;
  font-family: 'IBM Plex Serif', 'Georgia', Times, serif;
  }

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@0;1&family=IBM+Plex+Sans+Condensed:ital@0;1&family=IBM+Plex+Sans:ital,wght@0,100;0,400;0,500;1,100;1,400;1,500&family=IBM+Plex+Serif:ital@0;1&display=swap');

:root {
  --body-font: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
  --disp-font: 800 1rem 'IBM Plex Sans', sans-serif;
}

h1 {
  color: #fff;
  font: var(--body-font);
  font-size: 4rem;
  font-weight: 400;
  line-height: 5rem;
}

h2 {
  color: #fff;
  font: var(--disp-font);
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.25rem;
  text-transform: uppercase;
}

h3 {
  color: #fff;
  font: var(--disp-font);
  font-size: 4rem;
  font-weight: 400;
  line-height: 3rem;
  text-transform: uppercase;
}

p {
  color: #fff;
  font: var(--body-font);
}

body {
  margin: 0;
  overflow: hidden;
}

header {
  display: flex;
  flex-flow: row || nowrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5vh;
  backdrop-filter: blur(15px);
  background-color: rgba(10, 10, 10, 0.685);
  z-index: 200;
}

header svg {
  height: 5vh;
  margin-left: 10vw;
  fill: #fff;
  transform-origin: left;
  transform: translateY(50vh) scale(5);
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
}

.header-logo-in-anim {
  animation-name: header-logo-anim;
  animation-direction: normal;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.header-logo-out-anim {
  animation-name: header-logo-anim;
  animation-direction: reverse;
  animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.header-logo-small {
  transform: translateY(0) scale(1);
}

.header-logo-small:hover {
  cursor: pointer;
}

.header-logo-large {
  transform: translateY(50vh) scale(5);
}

@keyframes header-logo-anim {
  from {
    transform: translateY(0) scale(1);
  }

  to {
    transform: translateY(50vh) scale(5);
  }
}
.content-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 50;
  backdrop-filter: blur(10px);

  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-fill-mode: forwards;
}

.content-overlay-up-in {
  animation-name: content-overlay-up-in-anim;
}

.content-overlay-down-in {
  animation-name: content-overlay-down-in-anim;
}

.content-overlay-up-out {
  animation-name: content-overlay-up-out-anim;
}

.content-overlay-down-out {
  animation-name: content-overlay-down-out-anim;
}

@keyframes content-overlay-up-in-anim {
  from {
    opacity: 0;
    transform: translateY(-20vh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes content-overlay-down-in-anim {
  from {
    opacity: 0;
    transform: translateY(20vh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes content-overlay-up-out-anim {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20vh);
  }
}

@keyframes content-overlay-down-out-anim {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20vh);
  }
}

#header-menu-container {
  display: flex;
  flex-flow: row || nowrap;
  justify-content: space-around;
  align-items: center;
}

#header-menu-container a {
  display: block;
  position: relative;
  margin-right: 10rem;
  color: #fff;
  font: var(--body-font);
  text-decoration: none;
  cursor:pointer;
}

#header-menu-container a::before {
  content: "";
  position: absolute;
  margin-bottom: -0.5rem;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  background: #fff;
  visibility: hidden;
  transition: all 0.2s;
}

#header-menu-container a:hover::before {
  transform: scaleX(1);
  visibility: visible;
}

#landing-section {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #111;
  overflow: hidden;
}

#landing-text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 35vw;
  transform: translateY(-50%);
  z-index: 10;
}

#scroll-icon {
  position: absolute;
  left: 50%;
  bottom: 2rem;
  transform: translateX(-50%);
  width: 1rem;
  height: 3rem;
  border: 2px solid #fff;
  border-radius: 1rem;
  z-index: 10;
}

#scroll-wheel-icon {
  position: absolute;
  left: 50%;
  bottom: 2rem;
  transform: translate(-50%,0);
  width: 0.25rem;
  height: 0.25rem;
  background: #fff;
  border-radius: 1rem;
  z-index: 10;
  animation: scroll-wheel-icon-anim 1.5s cubic-bezier(0.39, 0.575, 0.565, 1) infinite;
}

@keyframes scroll-wheel-icon-anim {
  0% {
    transform: translate(-50%,0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: translate(-50%,-1rem);
    opacity: 0;
  }
}

#landing-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#landing-section {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#content-bg {
  height: 100vh;
  overflow-y: hidden;
}

.content-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #111;
  background-size: cover;
  background-attachment: fixed;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  overflow: hidden;
}

.content-section-down {
  animation-name: content-section-down-anim;
  z-index: 10;
}

.content-section-up {
  animation-name: content-section-up-anim;
  z-index: 10;
}

@keyframes content-section-down-anim {
  from {
    transform: translateY(100vh);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes content-section-up-anim {
  from {
    transform: translateY(-100vh);
  }

  to {
    transform: translateY(0);
  }
}

.content-card {
  position: absolute;
  left: 10vw;
  bottom: 5vw;
  width: 15vw;
  padding: 0 2rem 1rem 2rem;
  background: #fff;
  overflow: hidden;
  z-index: 10;
}

.content-card h2, .content-card p, .content-card svg {
  color: #111;
}

.content-card-icon {
  float: right;
  width: 3rem;
  margin: 1rem 0;
  transition: all 0.2s;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-fill-mode: forwards;
}

.content-card-icon:hover {
  cursor: pointer;
  opacity: 0.7;
}

.content-card-icon-anim {
  animation-name: content-card-icon-anim;
}

.content-card-bg {
  transform: translate(1vw, 1vw);
  z-index: 0;
  background-color: rgba(0,0,0,0.5);
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.content-card-bg-anim {
  animation-name: content-card-bg-anim;
}

.content-card-bg h2, .content-card-bg p, .content-card-bg svg:not(.content-card-icon-close) {
  opacity: 0;
}

.content-card-icon-close {
  position: relative;
  float: left;
  margin-left: 1rem;
  transform: rotate(180deg);
  fill: #fff;
}

.content-card-expanded {
  position: absolute;
  width: 50vw;
  top: 15vh;
  right: 10vw;
}

@keyframes content-card-icon-anim {
  from {
    margin-right: 0;
  }

  to {
    margin-right: -6rem;
  }
}

.content-card-bg-normal {
  padding: 0 2rem 1rem 2rem;
  transform: translate(1vw, 1vw);
}

.content-card-bg-expanded {
  padding: 100vh calc(60vw + 2rem) calc(4vw + 2rem) 2rem;
  transform: translate(calc(16vw + 2rem), calc(4vw + 1rem));
}

@keyframes content-card-bg-anim {
  0% {
    padding: 0 2rem 1rem 2rem;
    transform: translate(1vw, 1vw);
  }

  50% {
    padding: 100vh calc(75vw + 2rem) calc(4vw + 2rem) 2rem;
    transform: translate(1vw, calc(4vw + 1rem));
  }

  100% {
    padding: 100vh calc(60vw + 2rem) calc(4vw + 2rem) 2rem;
    transform: translate(calc(16vw + 2rem), calc(4vw + 1rem));
  }
}

#team-container {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100vw;
  justify-content: center;
  flex-flow: row wrap;
}

.team-card {
  margin: 1rem 2rem;
  padding: 2rem;
  background: #fff;
  white-space: nowrap;
}

.team-card-dp {
  display: inline-block;
  vertical-align: middle;
  width: 5rem;
  height: 5rem;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.team-card-info {
  display: inline-block;
  vertical-align: middle;
  margin-left: 2rem;
  font: var(--body-font);
}

.team-card-name {
  font-weight: 500;
}

@media only screen and (max-width: 768px) {
  :root {
    --body-font: normal normal 200 1rem, 'IBMPlexMono', sans-serif;
    --disp-font: 400 1rem, 'IBMPlexMono', sans-serif;
  }

  h1 {
    font-size: 3rem;
    line-height:4rem;
  }

  header svg {
    height: 10vh;
    margin-top: 10vw;
    transform: scale(1);
  }

  .header-logo-small {
    transform: scale(0.5);
  }

  .header-logo-large {
    transform: scale(1);
  }

  @keyframes header-logo-anim {
    from {
      transform: scale(0.5);
    }

    to {
      transform: scale(1);
    }
  }

  #header-menu-container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
  }

  #header-menu-container a::before {
    display: none;
  }

  .header-menu-container-active {
    transform: translate(0, 50%);
  }

  .header-menu-container-inactive {
    transform: translate(100%, 50%);
  }

  #header-menu-container a {
    display: block;
    position: relative;
    margin: -1px 0;
    padding: 1rem;
    transform: translateY(15vh);
    color: #111;
    font: var(--body-font);
    font-size: 2rem;
    background: #fff;
    text-decoration: none;
    cursor: pointer;
  }

  #landing-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .content-card {
    left: 10vw;
    bottom: 10vw;
    width: calc(80vw - 4rem);
    padding: 0 2rem 2rem 2rem;
    overflow: hidden;
    z-index: 10;
  }

  .content-card-bg {
    transform: translate(4vw, 4vw);
    z-index: 0;
    background-color: rgba(0,0,0,0.5);
    animation-duration: 0.35s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  @keyframes content-card-icon-anim {
    from {
      margin-right: 0;
    }

    to {
      margin-right: -5rem;
    }
  }

  .content-card-bg-normal {
    padding: 0 2rem 1rem 2rem;
    transform: translate(4vw, 4vw);
  }

  .content-card-bg-expanded {
    padding: 100vh calc((80vw - 4rem) / 2) 1rem calc((80vw - 4rem) / 2);
    transform: translate(-10vw, 10vw);
  }

  @keyframes content-card-bg-anim {
    0% {
      padding: 0 2rem 1rem 2rem;
      transform: translate(4vw, 4vw);
    }

    100% {
      padding: 100vh calc((80vw - 4rem) / 2) 4rem calc((80vw - 4rem) / 2);
      transform: translate(-10vw, 10vw);
    }
  }

  .content-card-expanded {
    width: 80vw;
    right: 10vw;
  }

  .content-card-icon-close {
    margin-left: calc((-1 * (80vw - 4rem) / 2) + 10vw);
  }

  .content-card-fade-anim {
    animation-name: content-card-responsive-fade;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
  }

  .content-card-fade-out {
    opacity: 0;
    pointer-events: none;
  }

  .content-card-fade-in {
    opacity: 1;
  }

  @keyframes content-card-responsive-fade {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  .team-card {
    margin: 1rem 2rem;
    padding: 2rem 2rem 2rem 2rem;
    white-space: pre-line;
    text-align: center;
  }

  .team-card-info {
    margin-left: 0;
    line-height: 2rem;
  }
}
